<!-- 1 -->
<div class="homepage-quote">
	<div class="section-wrapper">
		
		<div class="overlay">&nbsp;</div>
		<div class="text-section overlay-content">
			<div class="text-wrapper">
				<div class="content">
					<!-- <p class="quote-paragraph-white"> i dont like
						I am America. I am the part you won't recognize. But get used to me. Black, confident, cocky; my name, not yours; my religion, not yours; my goals, my own; get used to <span>me</span>.
					</p>
					<br>
					<h6 class="quote-name-white">Muhammed Ali</h6> -->
				</div>
			</div>
		</div>

		<div class="vertical-section-line-gold">
			<div class="top-line">&nbsp;</div>
			<div class="middle-line">&nbsp;</div>
			<div class="bottom-line">&nbsp;</div>
		</div>

	</div>
</div>

<div class="punch-text-container">
	<h3 class="punch-line">We are the America you won't recognize.</h3>
	<hr class="light">
</div>

<!-- 2 -->
<div class="homepage-boxes">
	<div class="section-wrapper">
		<div class="overlay">&nbsp;</div>
		<div class="overlay-content">
			<div class="boxes-wrapper">
				<div class="clearfix boxes spaced-width">
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>		

					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>

<!-- 3 -->
<div class="homepage-photo-section">
	<div class="section-wrapper spaced-width">
		
		<div class="photo-quote-first left-align rounded">
			<div class="photo-wrapper">
				<div class="overlay">&nbsp;</div>
				<div class="overlay-content">
					<div class="photo-text border">
						<div class="text-wrapper">
							<p class="tag">CAMP ALI</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="dark">

		<div class="photo-quote-second center-align rounded">
			<div class="photo-wrapper">
				<div class="overlay">&nbsp;</div>
				<div class="overlay-content">
					<div class="photo-text border">
						<div class="text-wrapper">
							<p class="tag">CAMP ALI</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

<footer>
	
</footer>

