<!-- it's truly lit -->
<nav role="banner" class="lg-hide header">
	<div class="nav-interior"></div>
</nav>

<div class="homepage-quote">
	<div class="section-wrapper">
		
		<div class="overlay">&nbsp;</div>
		<div class="text-section overlay-content">
			<div class="text-wrapper">
				<div class="content">
					<p class="quote-paragraph">
						I am America. I am the part you won't recognize. But get used to me. Black, confident, cocky; my name, not yours; my religion, not yours; my goals, my own; get used to me.
					</p>
					<br>
					<h6 class="quote-name">Muhammed Ali</h6>
				</div>
			</div>
		</div>

		<div class="vertical-section-line-gold">
			<div class="top-line">&nbsp;</div>
			<div class="middle-line">&nbsp;</div>
			<div class="bottom-line">&nbsp;</div>
		</div>

	</div>
</div>


<div class="punch-text-container">
	<h3 class="punch-line">We are the America you won't recognize.</h3>
	<hr class="dark">
	<h3 class="punch-line">Camp Ali.</h3>
</div>


<div class="statement-container spaced-width">
	<div class="box-wrapper">
		<div class="top-line vertical-section-line-light">
			<div class="top-line">&nbsp;</div>
			<div class="middle-line">&nbsp;</div>
		</div>

		<div class="statement-box rounded">
			<div class="box-interior">
				<h6 class="title">Our Mission</h6>
				<p class="paragraph">
					Thousands of Muslim youth live at the intersection of discrimination, poverty, and violence. Day after day, many of us stand witness to our grief, our bodies, and our tears displayed on newsstands and TV screens worldwide. Black dignity is constantly under attack, Muslim identity is a perpetual threat to national security, our way of life is violently criminalized. We are tired of sharing this grief with the world and feeling our bodies become fodder to the bigoted. 
				</p>
				<p class="paragraph">
					We strive to create imaginative spaces for youth that will allow us to dream, to imagine, and to put into action alternatives to our realities. These spaces will nurture our voices and artistic expression, enrich our faith in Allah and deepen our understanding of social justice.
				</p>
				<p class="paragraph">
					Camp Ali will do just that: a three week program centered around academic excellence, artistic expression, social justice, Muslim faith immersion, and community building exercises. We hope to build a cadre of other young, Muslim, thinkers, change makers, and activists. 
				</p>

				<h6 class="title">Fundraise</h6>
			<!-- 	<p class="paragraph">
				<h6 class="title">Donations</h6>
				<p class="paragraph">
					Please click <a href="#">here</a> to donate.
				</p> -->
			</div>
		</div>

		<div class="bottom-line vertical-section-line-dark">
			<div class="middle-line">&nbsp;</div>
			<div class="bottom-line">&nbsp;</div>
		</div>

		<div class="homepage-video-section">
			<video  width="inherit;" controls>
 			 <source src="proj22.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>			
		</div>

	</div>
</div>


<div class="homepage-photo-section">

	<hr class="gold">

	<div class="section-wrapper spaced-width">
		
		<div class="photo-quote-first left-align rounded">
			<div class="photo-wrapper">
				<div class="overlay">&nbsp;</div>
				<div class="overlay-content">
					<div class="photo-text border">
						<div class="text-wrapper">
							<h4 class="text xs-hide sm-hide">
								We demand open spaces, safe spaces that liberate our Blackness, our Islam, our creativity and our being.
							</h4>
							<h4 class="text md-hide lg-hide">
								Our Blackness.
							</h4>
							<p class="tag">CAMP ALI</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<hr class="light">

		<div class="photo-quote-second center rounded">
			<div class="photo-wrapper">
				<div class="overlay">&nbsp;</div>
				<div class="overlay-content">
					<div class="photo-text border">
						<div class="text-wrapper">
							<h4 class="text xs-hide sm-hide">
								We demand open spaces, safe spaces that
								liberate our Blackness, our Islam,
								our creativity and our being.
							</h4>
							<h4 class="text md-hide lg-hide">
								Our Islam.
							</h4>
							<p class="tag">CAMP ALI</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>


<footer>
	<div class="clearfix footer-wrapper">
		<div class="col col-12 sm-col-12 md-col-9 lg-col-8 message-section">
			<div class="message-wrapper">
				<h3 class="text xs-hide sm-hide">
					We are the new face of a global, muslim, youth movement that re-claims this space we call <span>home</span>. 
				</h3>
				<h3 class="text md-hide lg-hide">
					Our home. 
				</h3>
			</div>
		</div>
		<div class="col col-12 sm-col-12 md-col-3 lg-col-4 contact-section">
			<h6 class="title">Questions?</h6>
			<p class="email-item"><a href="#">hello@campali.com</a></p>
			<p class="phone-item"><a href="#">+1 (800) 684-8899</a></p>

			<!-- <div class="social-media-bar">
				<a class="inline-block facebook-icon" href="#">
					<img class="contain" src="/assets/icons/facebook.png"/>
				</a>

				<a class="inline-block twitter-icon" href="#">
					<img class="contain" src="/assets/icons/twitter.png"/>
				</a>

				<a class="inline-block instagram-icon" href="#">
					<img class="contain" src="/assets/icons/instagram.png"/>
				</a> -->
			</div>
		</div>
	</div>		
</footer>

<div class="registration-bar">
	<div class="bar-wrapper">
		<h3 class="last-message">Get used to us.</h3>
	</div>
	<div class="register-button rounded">  </div>

	<a href="/register" class="anchor-block register-button rounded"></a>
</div>


<div class="form-view">
	<div class="view-wrapper">
		<div class="overlay"></div>
		<div class="overlay-content"></div>
	</div>
</div>
