<!-- if we do this it will go here -->
<!-- <div class="homepage-boxes">
	<div class="section-wrapper">
		<div class="overlay">&nbsp;</div>
		<div class="overlay-content">
			<div class="boxes-wrapper">
				<div class="clearfix boxes spaced-width">
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>		

					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>
					<div class="col col-12 sm-col-12 md-col-6 lg-col-4 box">
						<div class="box-interior rounded">
							
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div> -->